*{
    margin: 0px;
    padding: 0px;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #2effe3;
}

#login {
    background-color: #ffffff;
}
#signup {
    background-color: #f0f8ff;
}
#search {
    background-color: #e6ffe6;
}
#payment {
    background-color: #fff5e6;
}
#admin {
    background-color: #ffe6e6;
}


.tabs {
    display: flex;
    margin-top: 20px;
}

.tab-button {
    padding: 10px 20px;
    margin: 0 5px;
    cursor: pointer;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.tab-button:hover {
    background-color: #0056b3;
}

.tab-content {
    display: none;
    width: 80%;
    max-width: 600px;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 30px;
}

h2, h3 {
    text-align: center;
    color: #333;
}

label {
    margin-top: 10px;
    display: block;
    color: #555;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="date"] {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
    background-color: #003d99;
}

p {
    text-align: center;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;

}

#results ul {
    list-style-type: none;
    padding: 0;
    background-color: #f9f9f9;
    margin-bottom: 10px;
    border-radius: 5px;
}

#results ul li {
    padding: 10px;
    border-bottom: 1px solid #ccc;
}
